Hi,

- if @user.rating.blame?
  WOOT? 

  You received a blame on SpongeHub! 

  Visit your space and give your best to gain some fame ;) 

  Just follow this link:
  = link_to @url, @url

  Come on! Do it like Mr. Clean!
- else

  WOW! 

  Someone just "famed" you on SpongeHub! 

  Follow this link and see your ranking: 
  = link_to @url, @url

  Keep on :)
  
--
SpongeHub
A RailsRumble 2012 project
Proudly bought to you by Boom Chicka Wow Wow
