Hey! 

You were invited to join a Space on SpongeHub. 

Join us in an open, engaging, and fun environment that motivates us all to keep our spaces tidy and clean :) 

Just followthis link:
= link_to @url, @url

--
SpongeHub
A RailsRumble 2012 project
Proudly bought to you by Boom Chicka Wow Wow
