.hero-unit.m-hero{ style: "background: url(#{@space.image.url})" }
  %h1.m-hero--title= link_to(@space.name, @space)
  - if @space.member?(current_user)
    .m-hero--actions
      = link_to 'Edit', edit_space_path(@space)
      = link_to 'Members', space_users_path(@space)
