= render partial: 'spaces/header'

.m-box
  %h2 Top Chore

.row
  .span4
    #fames.m-box
      %h2 Fame Top 3
      .action
        Do it
  .span4
    #blames.m-box
      %h2 Blame Top 3
      .action
        Do it
  .span4
    #chores.m-box
      %h2 What to do?
      .action
        Do it
