.hero-unit.m-hero
  %h1.m-hero--title
    = @user.name
    = image_tag(@user.remote_image_url)

.m-box
  Hello World! My name is 
  = @user.name
.row
  .span4
    %h2 My spaces
    - if @user.spaces.blank?
      Currently I am not a part of a space
    - else
      %ul
      - @user.spaces do |space|
        %li=space.name
  .span4
    %h2 My Blames
    - if @user.blames.blank?
      This user wasn't blamed yet
    - else
      %ul
      - @user.blames do |blame|
        %li
          =blame.space
          =blame.text
          =blame.chore
  .span4
    %h2 My Fames
    - if @user.fames.blank?
      This user wasn't famed yet
    - else
      %ul
      - @user.fames do |fame|
        %li
          =fame.space
          =fame.text
          =fame.chore
  .span4
    %h2 My Chores
    - if @user.chores.blank?
      This user has no chores
    - else
      %ul
      - @user.chores do |chore|
        %li
          =chore.space
          =chore.title