// literal colors

$blue: #0083bc
$violet: #2c044e
$grey: #f0f0f0
$white: #fff
$red: red

// ---- semantic color mappings ----

$light-text-color: $white
$transparent-color: rgba(0,0,0,0.7)

$blame-color: $red


// text colors
$dark-text-color: $black
$primary-text-color: $blue


// border colors
$colored-border-color: $blue
