@import url(http://fonts.googleapis.com/css?family=Satisfy)

$button-font-size: 14px

$small-headline-font-size: 14px
$medium-headline-font-size: 20px
$big-headline-font-size: 25px
$huge-headline-font-size: 40px

$fliesstext-font-size: 14px


// sign up 39px

// satisfy  29px



@mixin fliesstext($size: 14px, $color: $dark-text-color, $line-height-factor: 1.2)
  font-family: "AvenirNextLTW01-Regular"
  font-size: $size
  line-height: $size
  font-weight: normal
  color: $color

@mixin headline-text($size: $medium-headline-font-size, $color: $dark-text-color, $line-height-factor: 1.2)
  font-family: "Avenir Next LT W01 Bold"
  font-size: $size
  line-height: $size * $line-height-factor
  font-weight: normal
  color: $color

@mixin special-text($size: 29px, $color: $pink, $line-height-factor: 2)
  font-family: 'Satisfy', cursive
  font-size: $size
  line-height: $size * $line-height-factor
  font-weight: normal
  color: $color

body
  +fliesstext

h1, h2, h3, h4, h5, h6
  +headline-text