.m-hero.m-box{ style: "background: url(#{asset_path('backgrounds/about_head.jpg')})" }
  %h1.m-hero--title
    About SpongeHub

.m-bubble_hero
  If you don't want your space to look like above:
  %br
  Use our app!

.l-row
  %span.m-headline_inverted The Problem?
  %ul.talking-points.unstyled
    %li
      Whenever you share space with someone and no matter how organized and tidy you are. At some point there's always the same problem: Who is the one who has to tidy up? Who is the one who should do the shopping? Who is responsible for something?

  %span.m-headline_inverted The Solution!
  %ul.talking-points.unstyled
    %li
      SpongeHub helps you to keep your space clean - in a friendly and rewarding way.
    %li
      You can simply add a new space and add your flatmates / co-workers.
    %li
      Then you can add chores: What needs to be done?
    %li
      Every flatmate / coworker has the chance to take on a chore and finish it whenever it fits his or her schedule.
    %li
      For that he gets a "Fame". He will gain more and more fames by simply doing more or by getting fames from other users. If he does something nice: Why not give him a fame?
    %li
      Else: If he goes home without doing anything and maybe even leaving a mess behind: Blame him.
    %li
      The more Fames the better and the more blames the worse is his Space ranking.
    %li
      AND: Users with a low Space Ranking will get more invites to do something than users with a better ranking.
  %span.m-headline_inverted Do it like Mr. Clean: He cleans the mess since 1968. And we will continue to do it in the future!

  %ul.talking-points.unstyled
    %li
      To really succeed at this mission the last missing part for our little app is integration with email, Campfire and maybe SMS. To notify / nudge people about chores. This will make sure that things get done and hard working people are getting rewarded for keep your common space clean & friendly
