.hero-unit
  %h1 Our clean space :-)

  %p
    Your coworking space is a mess?  Some people never do anything in the office?  It's no fun making schedules and reminding your roomies?

  %p
    %strong SpongeHub.io helps you to keep your space clean in a friendly and rewarding way

  %ul
    %li Ideal for:  Coworking spaces, offices, shared appartments
    %li Reward people instead of being pushy
    %li
      Clean when it fits
      %strong your
      schedule
    %li Have fun as a team and enjoy your nice space!

  = link_to "Sign up now!", root_path, class: "btn btn-primary"

%h2 Spaces

%section.row
  -@spaces.each do |space|
    .span4
      = link_to space do
        = image_tag space.image_url