%h1.title
  Your coworking space is a mess?
  %br
  Some people never do anything in the office?

.homepage-hero
  .claim.m-inverted-text
    %span SpongeHub helps you to keep your space
    %br
    %span clean in a friendly and rewarding way.

  %ul.talking-points.unstyled
    %li Ideal for:  Coworking spaces, offices, shared flats
    %li Reward people instead of being pushy
    %li
      Clean when it fits
      %strong your
      schedule
    %li Have fun as a team and enjoy your nice space!

  .sign-up
    - if current_user
      = link_to "Create a space!", [:new, :space], class: "sign-up--link"
    - else
      = link_to "Sign up!", root_path, class: "sign-up--link"

  .wischhand

.page-header
  %h2 Participating spaces

%section.row
  -@spaces.each do |space|
    .span4
      .m-box
        = link_to space do
          = image_tag space.image_url

%section.movie
  %iframe{:width => "420", :height => "315", :src => "http://www.youtube.com/embed/WuPShtmJKbI", :frameborder => "0"}