body
  +background-image(linear-gradient($lightest-grey, $white))
  padding-top: $padding/2
  padding-bottom: $padding*4
  position: relative

.container
  background-color: $light-grey
  +box-shadow(0px 0px 18px rgba(#000, .1))
  position: relative
  overflow: visible

.user-header-image img
  width: 20px
  height: 20px

.row
  margin-bottom: $margin*2

.voteforus
  position: absolute
  top: 160px

.content
  background-image: image-url("backgrounds/header_dreck_bottom.png")
  background-repeat: no-repeat
  padding-top: 1px
  padding-bottom: $margin
  position: relative
  +pie-clearfix

.title
  +headline-text($medium-headline-font-size)
  text-align: center
  position: absolute
  top: -85px
  left: 110px
  line-height: $medium-headline-font-size * 1.5

%flash
  display: none
  position: absolute
  bottom: 0px
  right: 100px
  width: 679px
  height: 533px
  z-index: 666
  .flash--text
    +headline-text($big-headline-font-size, $white, 1.4)
    text-transform: uppercase
    width: 250px
    height: 150px
    margin-top: 75px
    margin-left: 80px
    text-align: center
  .flash--close
    position: absolute
    top: 31px
    right: 320px
    border-color: $black
    color: $black
    &:hover
      color: $black

.flash_notice
  @extend %flash
  background-image: image-url("flash_notice.png")
  .flash--text
    color: $dark-violet

.flash_alert
  @extend %flash
  background-image: image-url("flash_alert.png")

