$button-height: 40px

.m-button
  display: inline-block
  border: 1px solid $light-blue
  +border-radius
  +fliesstext($small-headline-font-size, $primary-text-color)
  font-weight: bold
  line-height: $button-height
  height: $button-height
  padding: 0 $padding*1.5
  text-transform: uppercase
  background-color: $white

  &:hover
    color: $light-blue
    text-decoration: none
    +background-image(linear-gradient($white, $light-grey))

  &.right
    float: right

.m-button_bubble
  @extend .m-button
  border: 0
  +headline-text($big-headline-font-size)
  line-height: $button-height
  &:hover
    color: $dark-text-color


.m-button_fame, .m-button_blame
  @extend .m-button
  text-transform: uppercase
  +headline-text($medium-headline-font-size, $white)
  border: none

  &:hover
    +background-image(none)
    color: $white

.m-button_fame
  background-color: $dark-fame-color
  &:hover
    background-color: $fame-color

.m-button_blame
  background-color: $dark-blame-color
  &:hover
    background-color: $blame-color
