// only twitter overrides until we have our complete own button module

.m-button
  border-color: $colored-border-color
  color: $primary-text-color

  &:hover
    color: $primary-text-color

.m-button_blame
  border-color: $blame-color
  color: $blame-color

  &:hover
    color: $blame-color