.m-hero
  border-radius: 0
  height: 230px  // hack, because we had some 230px images on production during the rumble
  margin: 0px $margin $margin $margin
  padding: 0
  position: relative

  @include respond-to(small)
    height: 124px
  @include respond-to(medium)
    height: 192px

  .m-hero--title
    display: inline-block
    position: absolute
    margin: 0
    bottom: $margin
    left: $margin
    padding: $padding
    background-color: $white
    &, a
      +headline-text
      text-transform: uppercase

  .m-hero--actions
    position: absolute
    top: $margin
    right: $margin
    font-weight: bold
    a
      background-color: $transparent-color
      color: $light-text-color
      padding: 3px