@charset "UTF-8";

@font-face {
  font-family: 'entypo';
  src: font-url('entypo.eot');
  src: font-url('entypo.eot?#iefix') format('embedded-opentype'),
       font-url('entypo.woff') format('woff'),
       font-url('entypo.ttf') format('truetype'),
       font-url('entypo.svg#entypo') format('svg');
  font-weight: normal; font-style: normal;
}

.m-icon {
  font-family: entypo;
  font-style: normal;

  /* font-size: 14px; */

  display: inline-block;
  width: 1.1em;
  margin-right: .1em;
  text-align: center;

  // modifiers
  &.music:before { content: "♪"; } /* '\266a' */
  &.music-alt:before { content: "🎵"; } /* '\1f3b5' */
  &.search:before { content: "🔍"; } /* '\1f50d' */
  &.search-alt:before { content: "🔎"; } /* '\1f50e' */
  &.mail:before { content: "✉"; } /* '\2709' */
  &.heart:before { content: "♥"; } /* '\2665' */
  &.heart-empty:before { content: "♡"; } /* '\2661' */
  &.star:before { content: "★"; } /* '\2605' */
  &.star-empty:before { content: "☆"; } /* '\2606' */
  &.user:before { content: "👤"; } /* '\1f464' */
  &.users:before { content: "👥"; } /* '\1f465' */
  &.user-add:before { content: ""; } /* '\e700' */
  &.video:before { content: "🎬"; } /* '\1f3ac' */
  &.picture:before { content: "🌄"; } /* '\1f304' */
  &.camera:before { content: "📷"; } /* '\1f4f7' */
  &.th:before { content: "⚏"; } /* '\268f' */
  &.th-list:before { content: "☰"; } /* '\2630' */
  &.ok:before { content: "✓"; } /* '\2713' */
  &.cancel:before { content: "✕"; } /* '\2715' */
  &.cancel-circle:before { content: "✖"; } /* '\2716' */
  &.plus:before { content: "+"; } /* '\2b' */
  &.plus-circle:before { content: "➕"; } /* '\2795' */
  &.minus:before { content: "-"; } /* '\2d' */
  &.minus-circle:before { content: "➖"; } /* '\2796' */
  &.help:before { content: "❓"; } /* '\2753' */
  &.help-circle:before { content: ""; } /* '\e704' */
  &.info:before { content: "ℹ"; } /* '\2139' */
  &.info-circle:before { content: ""; } /* '\e705' */
  &.back:before { content: ""; } /* '\e706' */
  &.back-alt:before { content: ""; } /* '\e707' */
  &.home:before { content: "⌂"; } /* '\2302' */
  &.link:before { content: "🔗"; } /* '\1f517' */
  &.attach:before { content: "📎"; } /* '\1f4ce' */
  &.lock:before { content: "🔒"; } /* '\1f512' */
  &.lock-open:before { content: "🔓"; } /* '\1f513' */
  &.eye:before { content: ""; } /* '\e70a' */
  &.tag:before { content: ""; } /* '\e70c' */
  &.bookmark:before { content: "🔖"; } /* '\1f516' */
  &.flag:before { content: "⚑"; } /* '\2691' */
  &.thumbs-up:before { content: "👍"; } /* '\1f44d' */
  &.download:before { content: "📥"; } /* '\1f4e5' */
  &.upload:before { content: "📤"; } /* '\1f4e4' */
  &.upload-cloud:before { content: ""; } /* '\e711' */
  &.reply:before { content: ""; } /* '\e712' */
  &.reply-all:before { content: ""; } /* '\e713' */
  &.forward:before { content: "➦"; } /* '\27a6' */
  &.quote-right:before { content: "❞"; } /* '\275e' */
  &.code:before { content: ""; } /* '\e714' */
  &.export:before { content: ""; } /* '\e715' */
  &.pencil:before { content: "✎"; } /* '\270e' */
  &.feather:before { content: "✒"; } /* '\2712' */
  &.print:before { content: ""; } /* '\e716' */
  &.retweet:before { content: ""; } /* '\e717' */
  &.keyboard:before { content: "⌨"; } /* '\2328' */
  &.comment:before { content: ""; } /* '\e718' */
  &.chat:before { content: ""; } /* '\e720' */
  &.bell:before { content: "🔔"; } /* '\1f514' */
  &.attention:before { content: "⚠"; } /* '\26a0' */
  &.vcard:before { content: ""; } /* '\e722' */
  &.address:before { content: ""; } /* '\e723' */
  &.location:before { content: ""; } /* '\e724' */
  &.map:before { content: ""; } /* '\e727' */
  &.direction:before { content: "➢"; } /* '\27a2' */
  &.compass:before { content: ""; } /* '\e728' */
  &.trash:before { content: ""; } /* '\e729' */
  &.doc:before { content: ""; } /* '\e730' */
  &.docs:before { content: ""; } /* '\e736' */
  &.docs-landscape:before { content: ""; } /* '\e737' */
  &.doc-text:before { content: "📄"; } /* '\1f4c4' */
  &.book-open:before { content: "📖"; } /* '\1f4d6' */
  &.folder:before { content: "📁"; } /* '\1f4c1' */
  &.archive:before { content: ""; } /* '\e738' */
  &.rss:before { content: ""; } /* '\e73a' */
  &.phone:before { content: "📞"; } /* '\1f4de' */
  &.cog:before { content: "⚙"; } /* '\2699' */
  &.share:before { content: ""; } /* '\e73c' */
  &.basket:before { content: ""; } /* '\e73d' */
  &.calendar:before { content: "📅"; } /* '\1f4c5' */
  &.mic:before { content: "🎤"; } /* '\1f3a4' */
  &.volume-off:before { content: "🔇"; } /* '\1f507' */
  &.volume-up:before { content: "🔊"; } /* '\1f50a' */
  &.volume:before { content: ""; } /* '\e742' */
  &.clock:before { content: "🕔"; } /* '\1f554' */
  &.hourglass:before { content: "⏳"; } /* '\23f3' */
  &.lamp:before { content: "💡"; } /* '\1f4a1' */
  &.light-down:before { content: "🔅"; } /* '\1f505' */
  &.light-up:before { content: "🔆"; } /* '\1f506' */
  &.block:before { content: "🚫"; } /* '\1f6ab' */
  &.resize-full:before { content: ""; } /* '\e744' */
  &.resize-small:before { content: ""; } /* '\e746' */
  &.popup:before { content: ""; } /* '\e74c' */
  &.publish:before { content: ""; } /* '\e74d' */
  &.window:before { content: ""; } /* '\e74e' */
  &.arrow-combo:before { content: ""; } /* '\e74f' */
  &.down-circle2:before { content: ""; } /* '\e758' */
  &.left-circle2:before { content: ""; } /* '\e759' */
  &.right-circle2:before { content: ""; } /* '\e75a' */
  &.up-circle2:before { content: ""; } /* '\e75b' */
  &.down-open:before { content: ""; } /* '\e75c' */
  &.left-open:before { content: ""; } /* '\e75d' */
  &.right-open:before { content: ""; } /* '\e75e' */
  &.up-open:before { content: ""; } /* '\e75f' */
  &.down-thin:before { content: "⬇"; } /* '\2b07' */
  &.left-thin:before { content: "⬅"; } /* '\2b05' */
  &.right-thin:before { content: "➡"; } /* '\27a1' */
  &.up-thin:before { content: "⬆"; } /* '\2b06' */
  &.down-dir:before { content: "▾"; } /* '\25be' */
  &.left-dir:before { content: "◂"; } /* '\25c2' */
  &.right-dir:before { content: "▸"; } /* '\25b8' */
  &.up-dir:before { content: "▴"; } /* '\25b4' */
  &.down-bold:before { content: ""; } /* '\e4b0' */
  &.left-bold:before { content: ""; } /* '\e4ad' */
  &.right-bold:before { content: ""; } /* '\e4ae' */
  &.up-bold:before { content: ""; } /* '\e4af' */
  &.down:before { content: "↓"; } /* '\2193' */
  &.left:before { content: "←"; } /* '\2190' */
  &.right:before { content: "→"; } /* '\2192' */
  &.up:before { content: "↑"; } /* '\2191' */
  &.ccw:before { content: "⟲"; } /* '\27f2' */
  &.cw:before { content: "⟳"; } /* '\27f3' */
  &.level-down:before { content: "↳"; } /* '\21b3' */
  &.shuffle:before { content: "🔀"; } /* '\1f500' */
  &.play:before { content: "▶"; } /* '\25b6' */
  &.stop:before { content: "▪"; } /* '\25aa' */
  &.pause:before { content: "⎉"; } /* '\2389' */
  &.record:before { content: "⚫"; } /* '\26ab' */
  &.to-end:before { content: "⏭"; } /* '\23ed' */
  &.to-start:before { content: "⏮"; } /* '\23ee' */
  &.fast-fw:before { content: "⏩"; } /* '\23e9' */
  &.fast-bw:before { content: "⏪"; } /* '\23ea' */
  &.progress-0:before { content: ""; } /* '\e768' */
  &.progress-1:before { content: ""; } /* '\e769' */
  &.progress-2:before { content: ""; } /* '\e76a' */
  &.progress-3:before { content: ""; } /* '\e76b' */
  &.target:before { content: "🎯"; } /* '\1f3af' */
  &.palette:before { content: "🎨"; } /* '\1f3a8' */
  &.list-add:before { content: ""; } /* '\e003' */
  &.signal:before { content: ""; } /* '\e770' */
  &.top-list:before { content: "🏆"; } /* '\1f3c6' */
  &.battery:before { content: "🔋"; } /* '\1f50b' */
  &.back-in-time:before { content: ""; } /* '\e771' */
  &.monitor:before { content: "💻"; } /* '\1f4bb' */
  &.mobile:before { content: "📱"; } /* '\1f4f1' */
  &.net:before { content: ""; } /* '\e776' */
  &.cd:before { content: "💿"; } /* '\1f4bf' */
  &.inbox:before { content: ""; } /* '\e777' */
  &.install:before { content: ""; } /* '\e778' */
  &.globe:before { content: "𝌍"; } /* '\1d30d' */
  &.cloud:before { content: "☁"; } /* '\2601' */
  &.flash:before { content: "⚡"; } /* '\26a1' */
  &.moon:before { content: "☽"; } /* '\263d' */
  &.flight:before { content: "✈"; } /* '\2708' */
  &.leaf:before { content: "🍂"; } /* '\1f342' */
  &.lifebuoy:before { content: ""; } /* '\e788' */
  &.mouse:before { content: ""; } /* '\e789' */
  &.bag:before { content: ""; } /* '\e78a' */
  &.dot:before { content: ""; } /* '\e78b' */
  &.dot-2:before { content: ""; } /* '\e78c' */
  &.dot-3:before { content: ""; } /* '\e78d' */
  &.google-circles:before { content: ""; } /* '\f310' */
  &.cc:before { content: ""; } /* '\e7a5' */
  &.logo-entypo:before { content: ""; } /* '\f600' */
  &.flag-sw:before { content: ""; } /* '\f601' */
  &.logo-db:before { content: ""; } /* '\f603' */
}
