.m-user
  padding: $padding
  img
    height: 30px
    width: 30px
    margin-right: 5px

.m-user-dropdown
  margin-left: 0
  margin-right: 5px
  .select2-choice, .select2-result
    img
      height: 20px
      width: 20px
      margin-right: 5px