.m-user
  $item-height: 25px
  padding: $padding
  line-height: $item-height
  img
    float: left
    height: $item-height
    width: $item-height
    margin-right: 5px
  .m-user--karma
    float: right
    font-weight: bold

.m-user-dropdown
  margin-left: 0
  margin-right: 5px
  .select2-choice, .select2-result
    img
      height: 20px
      width: 20px
      margin-right: 5px