-if chores.any?
  %ul.chore-list.unstyled
    -chores.take(3).each do |chore|
      %li.chore-list--item.m-bubble
        = chore.title
        -if current_user
          .m-bubble--actions
            = link_to "I can do that", take_space_chore_path(@space, chore), method: :put, class: "m-button_bubble right"
-else
  .m-bubble
    Yiieha, currently no chores.
    .m-bubble--actions
      = link_to "GO partey!!!", "http://www.ebaumsworld.com/video/watch/81891625/", target: "_blank", class: "m-button_bubble right"